html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Menu Animation */
#menu div:nth-child(1),
#menu div:nth-child(3),
#menu2 div:nth-child(1),
#menu2 div:nth-child(3) {
  -webkit-transform: none;
          transform: none;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

#menu div:nth-child(2),
#menu2 div:nth-child(2) {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  opacity: 1;
  -webkit-transition: opacity 200ms, -webkit-clip-path 100ms;
  transition: opacity 200ms, -webkit-clip-path 100ms;
  transition: clip-path 100ms, opacity 200ms;
  transition: clip-path 100ms, opacity 200ms, -webkit-clip-path 100ms;
}

.cross div:nth-child(1) {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.cross div:nth-child(2) {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%) !important;
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%) !important;
  opacity: 0 !important;
}

.cross div:nth-child(3) {
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

#menuBar {
  -webkit-animation: delay 500ms forwards;
          animation: delay 500ms forwards;
}

#menuText {
  text-shadow: black;
}

#navLogo {
  -webkit-animation: delayLogo 5s forwards;
          animation: delayLogo 5s forwards;
}

@-webkit-keyframes delayLogo {
  0%,
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delayLogo {
  0%,
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes delay {
  0%,
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delay {
  0%,
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: logo 1s forwards 4s;
          animation: logo 1s forwards 4s;
}

.mainContent {
  opacity: 0;
  -webkit-animation: mainContent 1s forwards 5s;
          animation: mainContent 1s forwards 5s;
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%) translateX(-50%);
            transform: translateY(-100%) translateX(-50%);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    opacity: 0;
  }
}

@keyframes logo {
  0% {
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%) translateX(-50%);
            transform: translateY(-100%) translateX(-50%);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    opacity: 0;
  }
}

@-webkit-keyframes mainContent {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes mainContent {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.showI {
  -webkit-animation: showI 500ms forwards;
          animation: showI 500ms forwards;
}

@-webkit-keyframes showI {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showI {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.showF {
  -webkit-animation: showF 500ms forwards;
          animation: showF 500ms forwards;
}

@-webkit-keyframes showF {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showF {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.hideI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: hideI 500ms forwards;
          animation: hideI 500ms forwards;
}

@-webkit-keyframes hideI {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes hideI {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.hideF {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: hideF 500ms forwards;
          animation: hideF 500ms forwards;
}

@-webkit-keyframes hideF {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes hideF {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

#Contact {
  -webkit-animation: delay 500ms forwards;
          animation: delay 500ms forwards;
}

.effect-16 {
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #092340;
  background-color: transparent;
}

.effect-16 ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 5px;
  color: #092340;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.effect-16:focus ~ label,
.has-content.effect-16 ~ label {
  top: -16px;
  font-size: 12px;
  color: #092340;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#menu {
  -webkit-transform: scaleY(0.8);
          transform: scaleY(0.8);
}

#menu.cross {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #092340;
  border-left: 1px solid #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f417a;
  opacity: 0.75;
}

*::-moz-selection {
  background-color: #092340;
  color: #ffffff;
}

*::selection {
  background-color: #092340;
  color: #ffffff;
}

.valueBox .Arrow {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.valueBox:hover .Arrow {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.z--1 {
  z-index: -1 !important;
}

#tabs button .tabLine {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  height: 2px;
  width: calc(100% - 2.2rem);
  background-color: #092340;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.selectedBtn {
  color: #092340 !important;
}

.selectedBtn .tabLine {
  -webkit-transform: translateX(-50%) scaleX(1) !important;
          transform: translateX(-50%) scaleX(1) !important;
}
/*# sourceMappingURL=global.css.map */